<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link href="css/nprogress.css" rel="stylesheet">
    <link href="css/antd.min.css" rel="stylesheet">
</head>
<body>
<div id="container" class="full-height">
</div>
<!-- 使用labjs,结合ejs语法，实现安全的文件加载流程 -->
<script src="https://cdn.bootcss.com/labjs/2.0.3/LAB.min.js"></script>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script> 

<script>
    const url = "http://localhost:8081/chaos_fj/isExpiration";
    const token = getCookie('access_token');
    function loadScripts(){
        let process = $LAB;
        "<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>"
        process = process.script('<%=htmlWebpackPlugin.files.chunks[chunk].entry %>')
        "<% } %>"
    }
    function getCookie(name) {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return (arr[2]);
        else
            return null;
    }
    fetch(url, {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization':token?'Bearer '+token:null,
            credentials: 'include'
        }
    }).then(response=>{
        if(response.ok||response.status==301||response.status==302)
            response.json().then(resp=>{
                if(resp.code==0&&resp.data===false)
                    location.href = 'index.html';
                else
                    loadScripts();
            })
        else
            loadScripts();
    }).catch(()=>{
        loadScripts();
    })
</script>
<!--<script>-->
    <!--var targetNode = document;-->
    <!--var config = { attributes: true, childList: true, subtree: true };-->
    <!--var callback = function(mutationList){-->
        <!--for(var mutation of mutationList){-->
            <!--console.log(mutation);-->
        <!--}-->
    <!--}-->
    <!--var observer = new MutationObserver(callback);-->
    <!--observer.observe(targetNode,config);-->
<!--</script>-->

</body>
</html>